<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <img class="img-logo" src="./assets/icon/logo-happy-life.jpeg" alt="Logo Happy Life">
    
    <ion-card>
      <ion-card-header>
        <!-- Centrar el título y hacer que la fuente sea más llamativa -->
        <ion-card-title class="centered-title">Happy Life</ion-card-title>
        
        <!-- Icono centrado -->
        <div class="icons-container centered-icon">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item class="centered-item">
            <p>¿Tienes problemas para iniciar sesión? Ingresa tu correo electrónico y te enviaremos un enlace para que recuperes el acceso a tu cuenta.</p>
          </ion-item>
        </ion-list>
        <div class="input-container">
          <ion-input type="email" [(ngModel)]="email" placeholder="email@gmail.com"></ion-input>
        </div>
        <ion-button color="success" expand="full" (click)="enviarEnlace()">Enviar enlace de recuperación</ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Nueva caja para el mensaje de registro -->
    <ion-card>
      <ion-card-content>
        <p>¿No tienes cuenta? <a [routerLink]="['/crear-cuenta']">Crear cuenta nueva</a></p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <a [routerLink]="['/login']">Volver al inicio de sesión</a>
      </ion-card-content>
    </ion-card>

    <!-- Sección de descarga de la app -->
    <div class="download-section">
      <p>Descarga la app.</p>
      <div class="icons-container">
        <img src="./assets/icon/sitio-web.png" alt="">
        <img src="./assets/icon/Logo-play-store.png" alt="Logo Play Store">
      </div>
    </div>
  </div>
</ion-content>
