
ion-menu {
    --width: 250px; /* Ajusta el ancho del menú */
  }
  
  ion-item ion-icon {
    font-size: 24px; /* Tamaño del ícono */
    color: #4caf50; /* Color de los íconos */
  }
  
  ion-list {
    padding: 0;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #4caf50;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
  
  .ion-page {
    padding: 16px;
  }
  