<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Happy Life</ion-card-title>
        <div class="icons-container"><ion-icon name="person-circle-outline"></ion-icon> </div>
        
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <div class="input-container">
              <ion-input placeholder="Usuario"></ion-input>
            </div>
          </ion-item>
          <ion-item>
            <div class="input-container">
              <ion-input type="password" placeholder="Contraseña"></ion-input>
            </div>
          </ion-item>
        </ion-list>
        <ion-button color="success" expand="full">Login</ion-button>
        <p><a [routerLink]="['/recuperar-cuenta']">¿Olvidaste tu Contraseña?</a></p>
      </ion-card-content>
    </ion-card>

    <!-- Nueva caja para el mensaje de registro -->
    <ion-card>
      <ion-card-content>
        <p>¿No tienes cuenta? <a [routerLink]="['/crear-cuenta']">Regístrate</a></p>
      </ion-card-content>
    </ion-card>

    <div class="download-section">
      <p>Descarga la app.</p>
      <div class="icons-container">
        <img src="./assets/icon/sitio-web.png" alt="">
        <img src="./assets/icon/Logo-play-store.png" alt="Logo Play Store" />
      </div>
    </div>
  </div>
</ion-content>
